@font-face{
	font-family: "DINpro-light";
	src: url(../fonts/FFDINPro/DINPro-Light.otf);
}
@font-face{
	font-family: "DINpro-black";
	src: url(../fonts/FFDINPro/DINPro-Black.otf);
}
header{
	padding: 0px;
	margin: 0px;
	background-color: #000;
	height: 120px;
}
nav{
	padding: 0px;
	margin: 0px;
	background-color: #000;
	height: 80px;
}
body{
	padding: 0px;
	margin: 0px;
}
footer{
	background-color: #000;
	height: 50px;
	padding: 0px;
	margin: -10px;
}
h1{
	padding-top: 15px;
	margin-top: 0px;
	text-indent: 50px;
	color: #fff;
	font-family: DINpro-black;
	font-size: 80px;
}
b{
	font-size: 80px;
	font-family: DINpro-black;
}
h2{
	text-indent: 0px;
	color: #454545;
	font-family: DINpro-light;
	font-size: 45px;

}
h3{
	margin-top: 0px;
	color: #454545;
	font-family: DINpro-black;
	font-size: 30px;
	text-transform: uppercase;
}
h4{
	color: #454545;
	font-family: DINpro-black;
	font-size: 45px;
}
h6{ 
	margin-bottom: 0px;
	padding-top: 15px;
	color: #fff;
	text-align: center;
	font-family: DINpro-light;
	font-size: 15px;
}
p{
	color: #544445;
	font-family: DINpro-light;
	font-size: 18px;
}
img{
	position: absolute;
	padding-top: 45px;
	padding-left: 30px;
}
.color{
	color: #fff;
}
.color2{
	color: #454545
}
section#main{
	background-color: #999999;
	height: 50vh;
}
section#sec{
	height: 100vh;
}
.box{
	padding: 25px;
	height: 100vh;
}
.box_nav{
	border-right: 7px solid #fff;
}
section#thr{
	margin: 0px;
	padding: 0px;
	background-color: #999999;
	height: 50vh;
}
footer#cite{
	background-color: #999999;
	padding: 0px;
	margin: 0px;
}
.mar{
	margin-top: 50px;
}